<mat-nav-list class="navbar-collapse" >

  <mat-list-item>
  <a class="nav-item"  mat-list-item routerLink="/">
    <fa-icon icon="home"></fa-icon>
    <span>Accueil</span>
  </a>
  </mat-list-item>

  <mat-list-item>
  <a class="nav-item" mat-list-item routerLink="server/add" >
    <fa-icon icon="arrow-alt-circle-right"></fa-icon>
    <span>Serveur</span>
  </a>
  </mat-list-item>

  <mat-list-item>
  <a class="nav-item"  mat-list-item routerLink="scenario" >
    <fa-icon align="right" icon="arrow-alt-circle-right"></fa-icon>
    <span>Scenario</span>
  </a>
  </mat-list-item>

  <mat-list-item>
  <a class="nav-item"  mat-list-item routerLink="dashboard" >
    <fa-icon align="right" icon="arrow-alt-circle-right"></fa-icon>
    <span>Tableau de bord</span>
  </a>
  </mat-list-item>

</mat-nav-list>
